# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist/
/out/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Electron
*.asar
*.db

# Compiled JavaScript
*.node

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace

# macOS System files
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in Dropbox
.Paper*

# Application specific
main.mjs
main.js.map
icon.icns

# Other custom files or folders
*.tgz
temp/
tmp/
__pycache__/
*.py[cod]
*.so
*.swp